<div id="<%= dom_id tweet %>">
  <p>
    <strong>Body:</strong>
    <%= tweet.body %>
  </p>

  <p>
    <strong>Like:</strong>
    <%= tweet.like %>
  </p>

  <p>
    <strong>Re tweet:</strong>
    <%= tweet.re_tweet %>
  </p>

</div>
